.git
.vs
.vscode
Changed SDK files/
Documents/
Accessories/
Tools/
Projects/tools/
Projects/zstack/Libraries/
Projects/zstack/OTA/
Projects/zstack/Utilities/
Projects/zstack/ZNP/
Projects/zstack/HomeAutomation/Source/
Projects/zstack/HomeAutomation/SampleLight/CC2530DB/CoordinatorEB/
Projects/zstack/HomeAutomation/SampleLight/CC2530DB/EndDeviceEB/
Projects/zstack/HomeAutomation/SampleLight/CC2530DB/RouterEB/
Projects/zstack/HomeAutomation/SampleLight/CC2538
Projects/zstack/HomeAutomation/SampleSwitch/CC2530DB/CoordinatorEB/
Projects/zstack/HomeAutomation/SampleSwitch/CC2530DB/EndDeviceEB/
Projects/zstack/HomeAutomation/SampleSwitch/CC2530DB/RouterEB/
Projects/zstack/HomeAutomation/SampleSwitch/CC2538
Projects/zstack/ZMain/TI2530ZNP/
Projects/zstack/ZMain/TI2538DB/
Projects/zstack/ZMain/TI2538ZNP/